$font: tahoma;
$black: #333;
$grey: rgba(0,0,0,0.2);


$bp-sm: 480px;
$bp-med:  720px;
$bp-lg: 1024px;


@mixin media-min($bp) {
	@media (min-width: $bp) {
		@content;
	}
}
@mixin keyframes($name) {
	@-webkit-keyframes #{$name}{
		@content
	}
	@-moz-keyframes #{$name} {
	    @content
	}
	@-o-keyframes #{$name} {
	    @content
	}
	@keyframes #{$name} {
	    @content
	}
}
@mixin transition($color, $time, $method) {
	-webkit-transition: $color $time $method;
	-moz-transition: $color $time $method;
	-ms-transition: $color $time $method;
	-o-transition: $color $time $method;
}
@mixin animation($animation, $time) {
	-webkit-animation: $animation $time;
	-moz-animation: $animation $time;
	-o-animation: $animation $time;
	animation: $animation $time;
}